.main{
display: flex;
justify-content: center;
align-items: start;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
box-shadow: 0px 0px 10px 10px #ccc;
padding: 10px;
flex-direction: column;
gap: 10px;
width: 450px;
flex-wrap: wrap;
}
.labelcss{
  flex-basis: 30%;
  margin-top: 10px;
}
.boxcss{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
  padding: 5px;
  width: 100%;
  flex-wrap: wrap;
}
.FieldCss{
  flex-basis: 60%;
  padding: 10px;
}
.sbmitbtn{
  padding: 20px 30px;
  margin: 10px;
  
}
.btnsub{
  text-align: center !important;
}